server:
  servlet:
    encoding:
      charset: utf-8
      force: true
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB}?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
      default_batch_fetch_size: 100
    open-in-view: false

auth:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    access-expired: 1200000
    refresh-expired: 86400000


logging:
  level:
    '[com.attica.athens]': DEBUG
    '[org.hibernate.type]': TRACE

frontend:
  local: http://localhost:3000, file:// # 로컬 URL 예시

cors:
  allowed-origins: http://localhost:3000, file://
